<div class="card p-fluid">
    <div class="flex justify-content-center align-items-center mb-2 px-2">
        <h2 class="font-bold text-cyan-800 text-3xl m-0 flex align-items-center gap-2">
            Gestión de productos
        </h2>
    </div>
    <p-card styleClass="shadow-2 border-round-xl">
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>

        <div class="flex justify-content-end mb-3">
            <button pButton label="Agregar producto" icon="pi pi-plus" class="p-button-info"
                (click)="agregarNuevaFila()"></button>
        </div>

        <p-table #dt [value]="productos" dataKey="id_producto" editMode="row" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="" [tableStyle]="{'table-layout': 'fixed', 'min-width': '100%'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%; text-align: center;">Código</th>
                    <th style="width:15%">Nombre</th>
                    <th style="width:12%">Tipo</th>
                    <th style="width:12%">Forma Farmacéutica</th>
                    <th style="width:10%">Precio</th>
                    <th style="width:10%">Registro sanitario</th>
                    <th style="width:10%">Peso Unitario</th>
                    <th style="width:8%; text-align: center;">Acciones</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-prod let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="prod">
                    <td style="text-align: center;">{{prod.codigo}}</td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="prod.producto" class="w-full">
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.producto}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-select [options]="tipos" [(ngModel)]="prod.tipo" optionLabel="nombre" appendTo="body"
                                    styleClass="w-full"></p-select>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.tipo?.nombre}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-select [options]="formas" [(ngModel)]="prod.formaFarmaceutica" optionLabel="nombre"
                                    appendTo="body" styleClass="w-full"></p-select>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.formaFarmaceutica?.nombre}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="prod.precio" mode="currency" currency="PEN" locale="es-PE"
                                    styleClass="w-full"></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.precio | currency:'PEN':'S/.'}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="prod.registroSanitario" class="w-full">
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.registroSanitario}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td style="width: 12%">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div class="flex align-items-center gap-1">
                                    <p-inputNumber [(ngModel)]="prod.pesoUnitario" [minFractionDigits]="0"
                                        [maxFractionDigits]="3" styleClass="w-full">
                                    </p-inputNumber>
                                    <span class="text-xs font-semibold text-color-secondary">
                                        {{ prod.tipo?.nombre === 'LÍQUIDO' ? 'mg/ml' : 'mg' }}
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{prod.pesoUnitario}} {{ prod.tipo?.nombre === 'LÍQUIDO' ? 'mg/ml' : 'mg' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(prod)" class="p-button-rounded p-button-warn p-button-text"
                                pTooltip="Editar"></button>

                            <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-check"
                                (click)="validarYGuardar(prod)" class="p-button-rounded p-button-text p-button-success"
                                pTooltip="Guardar"></button>

                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(prod, ri)"
                                class="p-button-rounded p-button-text p-button-danger" pTooltip="Cancelar"></button>

                            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                                (click)="confirmarEliminacion(prod)"
                                class="p-button-rounded p-button-text p-button-danger" pTooltip="Eliminar"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>