<div class="p-4">
    <p-card header="Gestión de Inventario - Productos">
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>

        <div class="flex justify-content-end mb-3">
            <button pButton label="Agregar producto" icon="pi pi-plus" class="p-button-info"
                (click)="agregarNuevaFila()"></button>
        </div>

        <p-table #dt [value]="productos" dataKey="id_producto" editMode="row" [tableStyle]="{'min-width': '10rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Código</th>
                    <th style="width:15%">Nombre</th>
                    <th style="width:15%">Tipo</th>
                    <th style="width:15%">Forma Farmacéutica</th>
                    <th style="width: 15%;">Marca</th>
                    <th style="width: 10%;">Presentación</th>
                    <th style="width:10%">Precio</th>
                    <th style="width:25%">Registro sanitario</th>
                    <th style="width:10%">Acciones</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-prod let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="prod">
                    <td>{{prod.codigo}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="prod.producto">
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.producto}}</ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-select [options]="tipos" [(ngModel)]="prod.tipo" optionLabel="nombre"
                                    appendTo="body"></p-select>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.tipo?.nombre}}</ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-select [options]="formas" [(ngModel)]="prod.formaFarmaceutica" optionLabel="nombre"
                                    appendTo="body"></p-select>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.formaFarmaceutica?.nombre}}</ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-select [options]="marcas" [(ngModel)]="prod.marca" optionLabel="nombre"
                                    appendTo="body"></p-select>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.marca?.nombre}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-select [options]="presentaciones" [(ngModel)]="prod.presentacion"
                                    optionLabel="nombre" appendTo="body"></p-select>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.presentacion?.nombre}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="prod.precio" mode="currency" currency="PEN"
                                    locale="es-PE"></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.precio | currency:'PEN':'S/.'}}</ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="prod.registroSanitario">
                            </ng-template>
                            <ng-template pTemplate="output">{{prod.registroSanitario}}</ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div class="flex align-items-left justify-content-left gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(prod)" class="p-button-rounded p-button-text" pTooltip="Editar"
                                tooltipPosition="top">
                            </button>

                            <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-check"
                                (click)="validarYGuardar(prod)"
                                class="p-button-rounded p-button-text p-button-success mr-2" pTooltip="Guardar"
                                tooltipPosition="top">
                            </button>

                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(prod, ri)"
                                class="p-button-rounded p-button-text p-button-danger" pTooltip="Cancelar"
                                tooltipPosition="top">
                            </button>

                            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                                (click)="confirmarEliminacion(prod)"
                                class="p-button-rounded p-button-text p-button-danger" pTooltip="Eliminar"
                                tooltipPosition="top">
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>