<p-toast></p-toast>
<div class="p-3">
    <!-- SECCIÓN DE REGISTRO CON HEADER COMPLETO -->
    <p-card styleClass="shadow-4 border-round-xl mb-4 overflow-hidden">
        <!-- Header sin márgenes laterales -->
        <ng-template pTemplate="header">
            <div class="bg-cyan-900 p-4 flex align-items-center">
                <i class="pi pi-truck text-black mr-2 text-xl"></i>
                <span class="text-xl font-bold text-black">Registro de proveedor(es)</span>
            </div>
        </ng-template>

        <!-- Formulario Compacto y Ancho -->
        <div class="grid p-fluid mt-2">
            <div class="col-12 md:col-8 field">
                <label class="block font-bold text-sm mb-2 text-cyan-800">
                    <i class="pi pi-building"></i> Nombre / Razón Social:
                </label>
                <div class="p-inputgroup w-full">
                    <span class="p-inputgroup-addon border-round-left-lg"></span>
                    <input pInputText [(ngModel)]="nuevoProveedor.nombre" placeholder="Ej: Laboratorios Farma S.A.C."
                       class="p-inputtext-lg w-full border-round-right-lg py-2">
                </div>
            </div>

            <div class="col-12 md:col-4 field">
                <label class="block font-bold text-sm mb-2 text-cyan-800"><i class="pi pi-id-card"></i> RUC:</label>
                <div class="p-inputgroup w-full">
                    <span class="p-inputgroup-addon border-round-left-lg"></span>
                    <input pInputText [(ngModel)]="nuevoProveedor.ruc" #ruc="ngModel" maxlength="11"
                        (keypress)="soloNumeros($event)" placeholder="20123456789"
                        class="p-inputtext-lg w-full border-round-right-lg py-2">
                </div>
            </div>

            <div class="col-12 md:col-4 field">
                <label class="block font-bold text-sm mb-2 text-cyan-800"><i class="pi pi-envelope"></i> Correo
                    Electrónico:</label>
                <div class="p-inputgroup w-full">
                    <span class="p-inputgroup-addon border-round-left-lg"></span>
                    <input pInputText [(ngModel)]="nuevoProveedor.correo" placeholder="ejemplo@contacto.com"
                        class="p-inputtext-lg w-full border-round-right-lg py-2">
                </div>
            </div>

            <div class="col-12 md:col-3 field">
                <label class="block font-bold text-sm mb-2 text-cyan-800"><i class="pi pi-phone"></i> Teléfono:</label>
                <div class="p-inputgroup w-full">
                    <span class="p-inputgroup-addon border-round-left-lg"></span>
                    <input pInputText [(ngModel)]="nuevoProveedor.telefono" maxlength="9"
                        (keypress)="soloNumeros($event)" placeholder="900654000"
                        class="p-inputtext-lg w-full border-round-right-lg py-2">
                </div>
            </div>

            <div class="col-12 md:col-5 field">
                <label class="block font-bold text-sm mb-2 text-cyan-800"><i class="pi pi-map-marker"></i>
                    Dirección:</label>
                <div class="p-inputgroup w-full">
                    <span class="p-inputgroup-addon border-round-left-lg"></span>
                    <input pInputText [(ngModel)]="nuevoProveedor.direccion" placeholder="Av. Siempre Viva 742, Lima"
                        class="p-inputtext-lg w-full border-round-right-lg py-2">
                </div>
            </div>
        </div>

        <div class="flex justify-content-end gap-2 mt-3">
            <p-button label="Cancelar" icon="pi pi-times" (onClick)="limpiarForm()"
                styleClass="p-button-danger p-button-secondary border-round-lg px-4 shadow-2"></p-button>
            <p-button label="Guardar Registro" icon="pi pi-save" (onClick)="registrar()"
                styleClass="p-button-info border-round-lg px-4 shadow-2"></p-button>
        </div>
    </p-card>

    <p-table #dt [value]="proveedores" [rows]="5" [paginator]="true" [globalFilterFields]="['nombre', 'ruc']"
        styleClass="p-datatable-sm p-datatable-gridlines shadow-2 border-round-xl overflow-hidden">

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="text-lg font-bold text-cyan-900">Proveedores Registrados</span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search">ㅤ</i> 
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar por nombre o RUC"
                        class="p-inputtext-sm border-round-right-lg py-2 md:w-20rem w-full">
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 35%">Nombre</th>
                <th style="width: 15%">RUC</th>
                <th style="width: 20%">Correo</th>
                <th style="width: 15%">Teléfono</th>
                <th style="width: 15%">Fecha Registro</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-prov>
            <tr>
                <td class="font-semibold text-cyan-900">{{prov.nombre}}</td>
                <td>{{prov.ruc}}</td>
                <td>{{prov.correo}}</td>
                <td>{{prov.telefono}}</td>
                <td>{{prov.fechaCreacion | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" class="text-center p-4">
                    No se encontraron proveedores que coincidan con la búsqueda.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>